bodybody {background-color: rgb(255, 255, 255)
;}
.caixa{background-color: rgb(14, 26, 80);}
    .alinhamento{text-align: center;}
h1{color:white;}
{
 background-color: rgb(9, 17, 95);
 text-align: center;
}
h2{
    font-style: italic;
    color:rgb(14, 26, 80)
    font-size: larger;}
p{color:rgb(14, 26, 80)}

.imagem{
    width: 50%;}

.imagem2{
 width: 40%;}

.lista{
    text-align: left;
    color: rgba(137, 43, 226, 0.598);}

.ford{
    color: darkmagenta;
}